<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</head>
<style>
button{
  outline-width: medium;
}
.button:hover {
  background-color: white;

 }

</style>

<body>
<nav class="navbar navbar-expand-sm bg-light navbar-dark text-danger">
    <div class="container-fluid">
  <!-- Brand/logo -->
  <a class="navbar-brand text-danger" href="home">
   <h3>My Training</h3>    
   </a>
  
<a class="item" href="#">Exit</a>
</div>
</nav>

<div class="container">
    <h4><img src="https://i.udemycdn.com/onboarding/experiment/personal-development.svg">&nbsp;
    Within Development, what topic are you interested in?</h4>
    <div class="button">
    <div class="row">
      <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block "><a class="item text-dark" href="csharp">Confidence</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Energy Healing</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Learning Strategies</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Memory</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Mindfulness</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Neuro-linguistic-Programming</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Neuroscience</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Reiki</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Speed Reading</a></button></div><br><br>
    <div class="col-md-7">
    <button type="button" class="btn-outline-light btn-block"><a class="item text-dark" href="csharp">Life coaching</a></button></div><br><br>
    </div>
      </div>
</div>

</body>
</html>
