<html>
  <head>
  </head>

<body>
<div class="container">

<form action="/action_page.php">
  <h5>Log In to Your Udemy Account!</h5><br>
  <br>



  <div class="text-center">
<input type="text" class="form-control-lg" placeholder="Email" name="psw" required><br><br>


<input type="password" class="form-control-lg" placeholder="Password" name="psw" required><br><br>

<div class="clearfix">
&nbsp;&nbsp;

<button type="submit" class="btn-lg btn-danger">Login</button><br>

or <a class="item"  href="#">forgot password</a><br><br>
Dont have an account? <a class="item" href="signup">Signup</a>
</div>
</div>
</form>

</div>

</body>
</html>
