<body>
<div class="container">
<h5><b>Udemy</b>&nbsp;for business</h5>
</div>
   <div class="container-fluid " style="margin-top:80px">
    <div class="container">
    <div class="row">
    <div class="col-md-7">
    <h1><b>Get your demo</b></h1>
    <br>
    <h3>See why leading organizations choose</h3>
     <h3>Udemy for Business as their destination</h3> 
      <h3>for employee learning</h3>
      <br><br>
      <h5>In your demo, learn more about:</h5>
      <ul>
    <li><p>Unlimited access to the top 3,500+ courses selected from</p> 
      <p>Udemy.com anytime, on any device</p></li><br>
    <li><p>Fresh content taught by 1,300+ experts and real-world </p>
      <p>practitioners for any learning style</p></li><br>
    <li>Actionable learning insights and admin functionality</li>
      </ul></div>
    
    <form action="/action_page.php">
        <div class="row">
          <div class="col-md-6">
          <input type="text" class="form-control" id="email" placeholder="First name"></div>
          <div class="col-md-6">
              <input type="password" class="form-control" placeholder="Last name"><br>
            </div></div>
            <input type="text" class="form-control" placeholder="Work email"><br>
            <input type="text" class="form-control" placeholder="Job title"><br>
            <input type="text" class="form-control" placeholder="Company name"><br>
            <input type="text" class="form-control" placeholder="Phone number"><br>
            <input type="text" class="form-control" placeholder="What are your training needs?"><br>
            <mat-checkbox></mat-checkbox>&nbsp;&nbsp;I’d like to receive news, insights,and
             <p>promotions from Udemy for Business</p><br>
             <button type="submit" class="btn btn-lg btn-group-xs btn-danger" width="150px">Get in Touch</button>
             <br><br>
             <h6>By signing up, you agree to our Terms of Use and Privacy Policy.</h6> 
              <h6>We may use the info you submit to contact you and use data from</h6>
              <h6>third parties to personalize your experience.</h6>
         </form>
        </div>
  </div>
</div>
  <div class="container-lg-lg p-5 my-5 text-center">
    <h2>Trusted By</h2>
    <br>
    <br>
    <img src="https://i.udemycdn.com/partner-logos/booking-logo.svg">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://i.udemycdn.com/partner-logos/volkswagen-logo.svg">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://i.udemycdn.com/partner-logos/mercedes-logo.svg">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://i.udemycdn.com/partner-logos/pinterest-logo.svg">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://i.udemycdn.com/partner-logos/adidas-logo.svg">&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="https://i.udemycdn.com/partner-logos/eventbrite-logo.svg">

    </div>
</body>