<!--  
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../assets/swiper.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <div class="container-fluid">
  <!-- Brand/logo --
  <a class="navbar-brand" href="#">
  <img src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" width="100px" height="80px">    
   </a>
  
  <!-- Links --
   <ul class="navbar-nav">
    <li class="nav-item">
       <a class="nav-link text-dark" href="#"></a>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-light dropdown-toggle"
                  aria-controls="dropdown-basic">
            Categories<span class="caret"></span>
          </button>
          
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item dropdown-menu-right" href="develop">Development</a>
            
              </li>
             
            <li role="menuitem"><a class="dropdown-item" href="#">Bussiness</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Finance and Accounting</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">IT and Software</a>
            </li>
  
            <li role="menuitem"><a class="dropdown-item" href="#">Office productivity</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Personal Development</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Design</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Marketing</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Lifestyle</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Photography</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Health and Fitness</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Music</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Teaching and Academics</a></li>
  
          </ul>
        </div> 
    </li>
    <form action="/action_page.php">
        <div class="row">
          <div class="col-md-9">
            <input type="text" class="form-control" placeholder="search any thing">
          </div>
          <div class="col-sm-3">
            <i class="fa fa-search"></i>
            </div></div>
         </form>
        
      </ul>
  <ul>
        
  <button style="float:right;" type="button" class="btn btn-outline-dark">Login</button>
  <button style="float:right;" type="button" class="btn btn-danger">Sign up</button>
  
  <a style="float:right;" class="nav-link text-dark" href="#">teach us an academy</a>
  <a style="float:right;" class="nav-link text-dark" href="#">udemy for bussiness</a>
  
  </ul>
  </div>
  </nav>



<div class="container">
  <div class="swiper-container ">
      <h2 class="Display-3 mt-5 ">Bussiness</h2>
      <div class="swiper-wrapper">
          
        <div class="swiper-slide">    
            <div class="row">
          <div class="col-md-6" [routerLink]="['/yogatrainerathome']">
              <img src="https://i.udemycdn.com/course/240x135/648826_f0e5_4.jpg" class="card-img" alt="...">
              <p>The Complete Financial Analyst course 2020</p>
              <p>365 careers</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>4.5(26,583)<br>
              <i class="fa fa-inr" style="font-size:25px">492</i>
  </div>
  
  <div class="col-md-6" [routerLink]="['/fitnesstrainerathome']">
      <img src="https://i.udemycdn.com/course/240x135/1202988_c73f_20.jpg" style="height: 7em;" class="card-img" alt="...">
      <p style="font-size: 97%;"></p>
      <p>The Complete Analyst training and analyst course</p>
      <p>chris houran, complete bussiness</p>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>4.5(11,686)<br>
      <i class="fa fa-inr" style="font-size:25px">516</i>

  </div>
  </div>
         
  </div>
  
        <div class="swiper-slide">
            <div class="row ">
          <div class="col-md-6">
           <img src="https://i.udemycdn.com/course/240x135/1653432_3a57_3.jpg" style="height: 7em;" class="card-img" alt="...">
            <p style="font-size: 97%;"></p>
            <p>The Complete Financial Analyst course 2020</p>
            <p>365 careers</p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>4.5(26,583)<br>
            <i class="fa fa-inr" style="font-size:25px">492</i>
          </div>


          <div class="col-md-6" [routerLink]="['/salonbook']">
              <img src="https://i.udemycdn.com/course/240x135/1098006_6917_6.jpg" class="card-img" alt="...">
              <p style="font-size: 97%;" ></p>
              <p>The Complete Analyst training and analyst course</p>
              <p>chris houran, complete bussiness</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>4.5(11,686)<br>
              <i class="fa fa-inr" style="font-size:25px">516</i>
                  
  </div>
  </div>
        </div>
        <div class="swiper-slide ">  
            <div class="row">
             <div class="col-md-6" [routerLink]="['/massageforwomen']">
          <img src="https://i.udemycdn.com/course/240x135/965832_212f_4.jpg" class="card-img" alt="...">
          <p style="font-size: 97%;" ></p>
          <p>The Complete Financial Analyst course 2020</p>
          <p>365 careers</p>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>4.5(26,583)<br>
          <i class="fa fa-inr" style="font-size:25px">492</i>
  </div>
  <div class="col-md-6" [routerLink]="['/massageformen']">
      <img src="https://i.udemycdn.com/course/240x135/567828_67d0.jpg" class="card-img" alt="...">
      <p style="font-size: 97%;" ></p>
              <p>The Complete Analyst training and analyst course</p>
              <p>chris houran, complete bussiness</p>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>4.5(11,686)<br>
              <i class="fa fa-inr" style="font-size:25px">516</i>
  </div>
  </div>  
  </div>

  <div class="swiper-slide ">  
    <div class="row">
  <div class="col-md-6" [routerLink]="['/massageformen']">
    <img src="https://i.udemycdn.com/course/240x135/1495788_1aaa_2.jpg" class="card-img" alt="...">
    <p style="font-size: 97%;" ></p>
    <p>The Complete Financial Analyst course 2020</p>
    <p>365 careers</p>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>4.5(26,583)<br>
    <i class="fa fa-inr" style="font-size:25px">492</i>
      </div>   
      
      <div class="col-md-6" [routerLink]="['/salonbook']">
        <img src="https://i.udemycdn.com/course/240x135/1778502_f4b9_11.jpg" class="card-img" alt="...">
        <p style="font-size: 97%;" ></p>
        <p>The Complete Analyst training and analyst course</p>
        <p>chris houran, complete bussiness</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>4.5(11,686)<br>
        <i class="fa fa-inr" style="font-size:25px">516</i>
            
</div>
</div>
  </div>


  <div class="swiper-slide ">  
    <div class="row">
  <div class="col-md-6" [routerLink]="['/massageformen']">
    <img src="https://i.udemycdn.com/course/240x135/751792_622e_9.jpg" class="card-img" alt="...">
    <p style="font-size: 97%;" ></p>
    <p>The Complete Financial Analyst course 2020</p>
    <p>365 careers</p>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>4.5(26,583)<br>
    <i class="fa fa-inr" style="font-size:25px">492</i>

      </div>   
      
      <div class="col-md-6" [routerLink]="['/salonbook']">
        <img src="https://i.udemycdn.com/course/240x135/1594488_69b9.jpg" class="card-img" alt="...">
        <p style="font-size: 97%;" ></p>
        <p>The Complete Analyst training and analyst course</p>
        <p>chris houran, complete bussiness</p>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>4.5(11,686)<br>
        <i class="fa fa-inr" style="font-size:25px">516</i>
            
</div>
</div>
  </div>

  
       
      </div>
      <div class="swiper-slide"></div>
      <!-- Add Pagination -->
      
      <!-- Add Arrows --
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <script src="../../assets/scripts/swiper.min.js"></script>


</body>
</html>
 -->
