<html>
  <head>
  </head>

<body>
  <h4> Sign up and Start learning!</h4><hr>
<div class="container text-center">

<form>
  

<input type="text"  placeholder="Full Name" required><br><br>


<input type="text"  placeholder="Email" required><br><br>


<input type="password"  placeholder="Password" name="psw" required><br><br>

<label>
  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">Remember
</label>
  
<div class="clearfix">

<button type="button" class="btn-lg btn-danger">Cancel</button>&nbsp;&nbsp;
<button type="submit" class="btn-lg btn-danger">Sign Up</button><br><br>

<p>By signing up, you agree to our <a href="#" style="color:dodgerblue">Terms of use</a>&nbsp;and
  <a href="#" style="color:dodgerblue">Privacy policy</a></p>

<hr>
<p>Already have an account?<a href="login" style="color:dodgerblue">Log In</a>
</div>
</form>
</div>
</body>
</html>




